body {
	background-color: #1b001f;
	background-image: url(../img/bright-squares.png);
	background-repeat: repeat;
}

.logPanel {
	width: 330px;
	height: 220px;
	position: absolute;
	left: 50%;
	top:50%;
	border-radius: 5px;
	margin-left: -165px;
	margin-top: -110px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(17, 10, 18, 0.54);
	transition:  1s;
}
.logPanel:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}
/*Авторизация+Регистрация*/
.head-foot {
	color: rgb(149, 2, 18);
	font: bold small-caps 25px book antiqua;
	position: relative;
	height: 20%;
}

.head-foot:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.inner {
	display: inline-block;
	vertical-align: middle;
}
.head-foot {
	text-align: center;
}


.middle {
	height: 60%;
}

#send {
	height: 100%;
}
.inpt {
	width: 280px;
	height: 30px;
	margin: 10px 24px 0px 24px;
	border: 1px solid #c7d0d2;
	border-radius: 3px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(57, 36, 60, 0.43);
}
.subButt {
	color: rgb(149, 2, 18);
	font: bold small-caps 20px book antiqua;
	width: 100px;
	margin: 15px 115px 0px 115px; 
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(75, 2, 10, 0.45);
	border-width: 0px;
	transition:  1s;
}
.subButt:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
	background-color: rgba(75, 2, 10, 0.9);
}