body {
	background-color: #1b001f;
	background-image: url(../img/bright-squares.png);
	background-repeat: repeat;
	position:absolute;
	width:100%;
	height:100%;
}

.logPanel {
	width: 330px;
	height: 220px;
	position: absolute;
	left: 50%;
	top:50%;
	border-radius: 5px;
	margin-left: -165px;
	margin-top: -110px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(17, 10, 18, 0.54);
	transition:  1s;
}
.logPanel:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
	background-color: rgba(17, 10, 18, 0.74);
}

/*Авторизация+Регистрация*/
.head-foot {
	color: rgb(149, 2, 18);
	font: bold small-caps 25px book antiqua;
	position: relative;
	height: 20%;
}

.head-foot:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.inner {
	display: inline-block;
	vertical-align: middle;
}
.head-foot {
	text-align: center;
}

/*инпуты*/
.middle {
	height: 60%;
}

#send {
	height: 100%;
}
.inpt {
	width: 280px;
	height: 30px;
	margin: 10px 24px 0px 24px;
	border: 1px solid #555;
	border-radius: 3px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(57, 36, 60, 0.43);
	outline: none;
	transition: 0.5s;
}
.inpt:focus {
	border: 1px solid black;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.90);
	background-color: rgba(175, 10, 197, 0.36);
}
.subButt {
	color: rgb(149, 2, 18);
	font: bold small-caps 20px book antiqua;
	width: 100px;
	margin: 15px 115px 0px 115px; 
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(75, 2, 10, 0.45);
	border-width: 0px;
	transition:  0.4s;
}
.subButt:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
	background-color: rgba(75, 2, 10, 0.9);
}

/*Work-pad*/
.big-container{
	position: absolute;	
	display: flex;
	width: 100%;
	height: auto;
}
.left-pad-pannel {
	color: rgb(149, 2, 18);
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	min-height: calc( 100vh - 40px );
	width: 45%;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgba(17, 10, 18, 0.54);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}
.logo {
	font: bold small-caps 45px book antiqua;
	width: 100%;
	height: 55px;
}
.logo:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.logo {
	text-align: center;
}
.enter-task-field {
	display: flex;
	width: 100%;
	height: 44px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#userTask {
	border: none;
	height: 100%;
	width: 80%;
	margin-left: 10px;
	margin-right: auto;
	padding: 0px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #555;
	background-color: rgba(85, 5, 96, 0.43);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	transition: 0.5s;
	outline: none;
}
#userTask:focus {
	border: 1px solid black;
	background-color: rgba(175, 10, 197, 0.36);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}
.add-task-button {
	width: 40px;
	height: 100%;
	border-radius: 5px;
	border: 1px solid #555;
	margin-right: 10px; 
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
	background-color: rgba(85, 5, 96, 0.43);
	outline: none;
}
.add-task-button:hover {
	background-color: rgba(85, 5, 96, 0.83);
}

.add-task-button:active {
	border: 1px solid black;
	background-color: rgba(85, 5, 96, 0.83);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}
ul {
	list-style-type: none;
	margin: 0 10px 0 10px;
	padding: 0;
}
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 10px;
	font-size: 25px;
	transition: 0.2s;
}
ul li:hover {
	background-color: rgba(85, 5, 96, 0.43);
}
ul li.checked {
	transition: 0.5s;
	color: rgba(72, 68, 68, 0.50);
	background: rgba(13, 66, 21, 0.50);
	text-decoration: line-through;
}
ul li.checked:hover {
	background: rgba(13, 66, 21, 0.80);
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
	border-radius: 5px;
}
.close:hover {
	background-color: rgba(1, 48, 125, 0.67);	
}


.right-pad-pannel {
	color: rgb(149, 2, 18);
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 10px;
	height: calc( 100vh - 40px );;
	width: 45%;
	border-radius: 5px;
	background-color: rgba(17, 10, 18, 0.54);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}
.top-analog-calendar {
	width: 100%;
	height: 10%;
}
.date-calendar-clock {
	display: flex;
	width: 100%;
	height: 40%;
}
#calendar {
	width: 100%;
	height: 100%;
}
table {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: calc( 100% - 10px );
	width: calc( 100% - 20px );
/*	border-collapse: collapse;
*/}

td,th {
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}

td:hover {
	background-color: rgba(85, 5, 96, 0.83);
	transition: 0.5s;
	cursor: pointer;
}

th {
	font-weight: bold;
	background-color: rgba(85, 5, 96, 0.43);
}
.clock {
	width: 0%;
	height: 100%;
}

#google-map-api {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: calc( 100% - 20px );
	height: calc( 50% - 10px );
	border-radius: 5px;
}
